@font-face {
    font-family: "PaytoneOne";
    src: url("PaytoneOne.eot");
    src: url("PaytoneOne.eot?#iefix") format("embedded-opentype"),
         url("PaytoneOne.woff2") format("woff2"),
         url("PaytoneOne.woff") format("woff"),
         url("PaytoneOne.ttf") format("ttf"),
         url("PaytoneOne.svg#PaytoneOne") format("svg");
    font-style: normal;
    font-weight: 300;
}