@font-face {
    font-family: "Ubuntu-MediumItalic";
    src: url("Ubuntu-MediumItalic.eot");
    src: url("Ubuntu-MediumItalic.eot?#iefix") format("embedded-opentype"),
         url("Ubuntu-MediumItalic.woff2") format("woff2"),
         url("Ubuntu-MediumItalic.woff") format("woff"),
         url("Ubuntu-MediumItalic.ttf") format("ttf"),
         url("Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic") format("svg");
    font-style: italic;
    font-weight: normal;
}