@font-face {
    font-family: "Ubuntu-LightItalic";
    src: url("Ubuntu-LightItalic.eot");
    src: url("Ubuntu-LightItalic.eot?#iefix") format("embedded-opentype"),
         url("Ubuntu-LightItalic.woff2") format("woff2"),
         url("Ubuntu-LightItalic.woff") format("woff"),
         url("Ubuntu-LightItalic.ttf") format("ttf"),
         url("Ubuntu-LightItalic.svg#Ubuntu-LightItalic") format("svg");
    font-style: italic;
    font-weight: 300;
}