@font-face {
    font-family: "Ubuntu-Medium";
    src: url("Ubuntu-Medium.eot");
    src: url("Ubuntu-Medium.eot?#iefix") format("embedded-opentype"),
         url("Ubuntu-Medium.woff2") format("woff2"),
         url("Ubuntu-Medium.woff") format("woff"),
         url("Ubuntu-Medium.ttf") format("ttf"),
         url("Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
    font-style: normal;
    font-weight: normal;
}