@font-face {
    font-family: "Ubuntu-Italic";
    src: url("Ubuntu-Italic.eot");
    src: url("Ubuntu-Italic.eot?#iefix") format("embedded-opentype"),
         url("Ubuntu-Italic.woff2") format("woff2"),
         url("Ubuntu-Italic.woff") format("woff"),
         url("Ubuntu-Italic.ttf") format("ttf"),
         url("Ubuntu-Italic.svg#Ubuntu-Italic") format("svg");
    font-style: italic;
    font-weight: 300;
}