.article {
  &__heading {
    font-size: rem(20);
    font-weight: bold;
  }
  &__heading, &__date {
    
    display: inline-block;
  }
  &__date {
    font-size: rem(16);
  }
  
  
}

article {
  pre {
    margin-bottom: $global-margin; 
  }
}