.site-footer {
  position: relative;
  height: 100vh;
  // margin-top: 6%;
  // margin-bottom: rem(12);
  color: $white;
  text-shadow: $global-text-shadow--light;
  a {
    color: $white;
  }
  > p {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
  }
}