.intro {
  position: relative;
  overflow: hidden;
  
  // color: #2684d2;
  &,
  a,
  .subheader {
    color: $white!important;
    text-shadow: $global-text-shadow;
  }
  
  // .bg--paint {
  //   
  //   position: relative;
  //   z-index: 1;
  //   display: inline-block;
  //   
  //   &:after {
  //     // position: absolute;
  //     // content: '';
  //     // display: block;
  //     // top: 50%;
  //     // left: 50%;
  //     // width: 110%;
  //     // height: 0;
  //     // padding-bottom: 46%;
  //     // transform: translate(-50%, -50%);
  //     // 
  //     // z-index: -1;
  //     // background-image: url(../img/paint-1.svg);
  //     // background-repeat: no-repeat;
  //     // background-size: contain;
  //     // background-position: center;
  //     // 
  //     // @include breakpoint(small only) {
  //     //   height: 100%;
  //     //   width: 400%;
  //     // }
  //     
  //   }
  //   
  //   &.bg--paint--2 {
  //     // overflow: hidden;
  //     margin-top: rem(20);
  //     &:after {
  //       width: 200%;
  //       height: 120%;
  //       padding-bottom: 0;
  //       z-index: -1;
  //       // background-image: url(../img/paint-2.svg);
  //       background-size: auto 100%;
  // 
  //     }
  //   }
  //   
  //   
  //   // <a href="http://www.freepik.com/free-vector/hand-painted-watercolor-brush-strokes_851066.htm">Designed by Freepik</a>
  //   
  // }
  
  h1 {
    display: inline-block;
    font-size: rem(80);
    @include breakpoint(small only) {
      font-size: rem(45);
    }
    line-height: 1;
    
    a {
      text-decoration: none;
    }
    
    ~span {
      display: inline-block;
      
      font-size: rem(40);
      @include breakpoint(small only) {
        font-size: rem(28);
      }
      line-height: 1;
      margin-bottom: rem(40);
    }
    
  }
  
  .middle {
    height: 100vh;
  }
  
  .wrap--list {
    // position: relative;
    display:inline-block;
    font-size: rem(40);

    
    
    
    a {
      color: $black;
      line-height: 1.6;
      text-decoration: underline;
      
      $color-shadow: #a5d5bd;
      // @include text-stroke(2, #a5d5bd);
      
    }
    
    .button--more {
      
    }
    
  }
  
  ul {
    display: inline-block;
    margin-bottom: 0;
    font-size: rem(24);
    
    li {
      padding: rem(8);
      display: inline-block;
      
      
    }
  }
  .nav--horizontal {
    overflow: hidden;
    margin: 0;
    max-height: rem(65);
    
    .nav-more {
      display: none;
      &.show {
        display: inline-block;
      }
    }
    
  }
  
  // .nav-more {
  //   &:hover {
  //     .nav--vertical {
  //       display: block;
  //     }
  //   }
  // }
  // 
  
  .nav--vertical {
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    margin: 0;
    
    &.show {
      display: block;
    }
    
    
    li {
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      position: relative;
      display: none;
      &.show {
        display: block;
      }
      
      
      // &.bg--paint--3 {
      //   // overflow: hidden;
      //   margin-bottom: rem(-15);
      //   &:after {
      //     width: 200%;
      //     height: 120%;
      //     padding-bottom: 0;
      //     z-index: -2;
      //     // background-image: url(../img/paint-2.svg);
      //     background-size: auto 100%;
      // 
      //   }
      // }
      
    }
  }
  
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &.bg--cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.bg--intro {
  position: fixed;
  z-index: -1;
  bottom: auto;
  height: 100vh; // fix for jumpy bg on iphone
  // opacity: 0.8;
  filter: grayscale(30%) brightness(80%) ;
  // background-image: url(../img/landscape-640617_1920.jpg);
  // background-image: url(../img/wales-1904310.jpg);
  
  
}

body:not(.home) {
  .intro {
    padding-bottom: 4%;
    // overflow: visible;
    ul li {
        padding: rem(4);
        display: inline-block;
    }
    .middle {
      height: auto;
      .headers {
        display: inline-block;
        position: relative;
        z-index: 25;
        
        h1 {
          font-size: rem(80);
          @include breakpoint(small only) {
            font-size: rem(45);
          }
          ~span {
            display: none;
          }
        }
        
      }
      .row--menu {
        position: relative;
        z-index: 24;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}