section {
  &:not(.intro) {
    // padding: rem(40) 0;
  }
}  

.painted {  
  
  padding-top: 3%;
  padding-bottom: 3%;
  position: relative;
  z-index: 1;
  $color: #eee;
  background-color: $color;
  .svg path {
    fill: $color!important;  
  } 
  box-shadow: $global-box-shadow;
  
  &.text-image {    
    $color: #eed7d7;
    $color: #ddd;
    $color: #eee;
    background-color: $color;
    .svg path {
      fill: $color!important;  
    }        
  } 
  &.portfolio {
    $color: #eed7d7;
    $color: #ddd;
    $color: #eee;
    background-color: $color;
    .svg path {
      fill: $color!important;  
    }  
  }
  &.toolbox {
    $color: #d7e5ee;
    $color: #eed7d7;
    $color: #ccc;
    $color: #eee;
    background-color: $color;
    .svg path {
      fill: $color!important;  
    } 
  }
  &.wrap--split {
    $color: #d7d8ee;
    $color: #d7e5ee;
    $color: #eed7d7;
    $color: #ccc;
    $color: #eee;
    background-color: $color;
    .svg path {
      fill: $color!important;  
    }
  }  
  
  
  .painted {
    background-color: transparent;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  
}

