.row--more {
   opacity: 0;
   max-height: 0;
   overflow: hidden;
   transition: opacity 400ms ease;
}

.more {
  .row--more {
    opacity: 1;
    max-height: 9999999px;
  }
}

.middle {
  display: table;
  height: 100%;
  width: 100%;
  
  .middled {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
  
}

.wrap--eh {
  &.eh--medium {
    @include breakpoint(medium) {
      display: flex; /* equal height of the children */
      align-items: center;
      > * {
        flex: 1; /* additionally, equal width */ 
      }
    }
  }
  &.eh--large {
    @include breakpoint(large) {
      display: flex; /* equal height of the children */
      align-items: center;
      > * {
        flex: 1; /* additionally, equal width */ 
      }
    }
  }
}