.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized {
  .tooltipster-box {
  	background: transparent;
  	border: none;
  	border-radius: 0;
  	box-shadow: none;
  }
  
  .tooltipster-content {
  	color: $black;
  	padding: 8px;
    @extend .h;
  }
  
  .tooltipster-arrow {
    height: 20px;
    width: 10px;
    margin-left: 0;
    transform: rotate(0);
    // transform-origin: 25% 50%;
    
    &:before {
      content: ':';
      // font-family: PermanentMarker;
      font-family: 'Paytone One';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;      
    }
        
    .tooltipster-arrow-uncropped {
      opacity: 0;
    }
  }
  
  &.tooltipster-bottom {
    .tooltipster-arrow {
      transform: rotate(180deg);
    }
  }
  &.tooltipster-top {
    .tooltipster-arrow {
      // transform: rotate(90deg);
    }
  }
  
} 

.tip--part {
  display: none;
}

@for $i from 0 through 9 {
  [data-show="#{$i}"] {
    .tip--part-#{$i} {
      display: inline;
    }
  }
}

.tooltip_templates { display: none; }