// Settings
@import 'snippets/rem-calc-rem';
@import 'settings';
@import 'foundation';

// Foundation

@include foundation-global-styles; // Always include the global-styles
// @include foundation-grid;
@include foundation-typography;
// @include foundation-forms;
// @include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;

// Snippets
@import "snippets/text-stroke";
@import 'snippets/fonts';
@import 'snippets/font-classes';

@import 'structure';
@import 'intro'; 

.ccss {
  .site-content {
    > * {
      opacity: 0;
      &.intro {
        opacity: 1;
      }
    }
  }
}
.site-content {
  > * {
    opacity: 1;
    transition: opacity 400ms 200ms ease;
  }
}


