section.hero {
  
  color: $white;
  
  padding-top: 4%;
  padding-bottom: 4%;

  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  
  .wysiwyg {
    padding: rem(32) 0 0;
    
      p {
        // @include text-stroke(3, #a5d5bd);
                      
        // background-color: transparentize($color-shadow, 0.5);
        // border-radius: 10px;
      }
  }
  
  h1 {
    line-height: 1;      
    
    text-shadow: $global-text-shadow;
    // text-transform: uppercase;
  }
  p {
    text-shadow: $global-text-shadow--light;
    // padding: rem(12);
    // background-color: rgba(0,0,0,0.2);
  }
  
}