.row--contact-form {
  max-width: rem(420);
}

.contact {
  // opacity: 0.5;
  
  .wrap--submit {
    position: relative;
    margin-bottom: rem(10);
  }
  
  div.wpcf7 .ajax-loader {
    background-image: url(../img/loader.svg);
    width: 32px;
    height: 32px;
  }
  
  $red: #d56868;
  
  ::-webkit-input-placeholder {
     color: black;
     opacity: 1;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: black;
    opacity: 1;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: black;
    opacity: 1;  
  }

  :-ms-input-placeholder {  
     color: black;
    opacity: 1;  
  }
  
  .wpcf7-recaptcha,
  .wpcf7-form-control-wrap {
    margin-bottom: rem(10);
    display: block;
  }
  
  .wpcf7-recaptcha > div > div {
    position: relative;
    width: 300px;
    height: 74px;
    overflow: hidden;
    
    box-shadow: $global-box-shadow--light; 
  }
  
  div.wpcf7 .wpcf7-recaptcha iframe {
    // border-radius: 3px;
    margin-left: -1px;
    margin-top: -1px;
  }
  
  label {
    line-height: 1.2;
  }
  
  input[type="submit"] {
    margin-bottom: 0;
    font-weight: bold;
    box-shadow: $global-box-shadow--light;  
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: rem(5);
    
    background-color: rgba(255,255,255,0.8);
    box-shadow: none;
    border: none;
    border-bottom: 3px dashed rgba(0, 0, 0, 0.2);
    
    box-shadow: $global-box-shadow--light;
    
    &.wpcf7-not-valid {
      border-bottom: 3px dashed $red;
    }
    
    &:focus {
      background-color: rgba(255,255,255,1);
      
      border: none;
      border-bottom: 3px dashed rgba(0, 0, 0, 0.6);
      
      &.wpcf7-not-valid {
        border-bottom: 3px dashed #d52828;
      }
    }
    
  }
  
  div.wpcf7-response-output {
    padding: 8px;
    margin: 0;
    
    background-color: rgba(255,255,255,1);
    
    
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
  }
  
}