.toolbox {
  // background: transparentize(#ffffff, 0.5); 
  
  .row--toolbox {
    margin-bottom: rem(12);
  }
  
  .wrap--logo {
    
    margin: rem(28) 0;
    margin-bottom: rem(40);
    @include breakpoint(large) {
      margin: rem(24) 0;
      // margin-bottom: rem(40);
    }
    
    display: block;
    padding: rem(16) rem(20);
    text-align: center;
    background: transparentize(#eeeeee, 0);     
    transition: background 400ms ease, filter 400ms ease;
    box-shadow: $global-box-shadow--light;
    
    .lazy {
      height: 100%;
      
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
    
    .lazy img.img--real.loaded {
      // width: 90%;
      display: inline-block;
      text-align: center;
    }
    
    img {      
      transform: scale(0.9);
      max-height: rem(64);
      // width: rem(120);
      max-width: 100%;
      transition: filter 200ms ease, transform  300ms ease;
      filter: grayscale(60%);      
      // padding-top: 20px;
      
    }
    
    &:hover {
      background: transparentize(#eeeeee, 0.05); 
      cursor: help;
      
      img {
        transform: scale(1);
        filter: grayscale(0);        
      }
    }
    
    
  }
  
  .tabs-panel {
    display: none;
    
    &.is-active {
      display: block;
      //display: none; // todo for now
      
    }
    
  }
  
  
}



