/* Browser mockup code
 * Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
 * Live example: https://updown.io
 */

.browser-mockup,
.editor-mockup {
  margin-bottom: rem(20);
  border-top: rem(32) solid rgba(230, 230, 230, 0.7);
  box-shadow: $global-box-shadow;
  position: relative;
  border-radius: rem(3) rem(3) 0 0;
  
  > * {
    display: block;
  }
  
  
  &:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }
  
  .tabs {
    display: block;
    position: absolute;
    top: rem(-32);
    left: rem(72);
    right: 0;
  }
  
  .tabs-title {
    position: relative;
    display: inline-block;
    margin-right: rem(-10);
    width: 30%;
    height: 0;
    border-bottom: rem(32) solid $lightest-gray;
    border-left: rem(12.8) solid transparent;
    border-right: rem(12.8) solid transparent;
    vertical-align: top;
    
    a {
      position: relative;
      display: inline-block;
      width: 100%;
      height: rem(32);
      padding-left: rem(6);
      color: black;
      line-height: rem(32);
      font-size: rem(14);
      overflow: hidden;
      word-break: break-all;
      text-decoration: none;
      &:after {
        position: absolute;
        display: block;
        content: '';
        right: 0;
        top: 0;
        height: 100%;
        width: 20px;
        // background: pink;
        background-image:
        linear-gradient(
          to left, 
          $lightest-gray, rgba(255,255,255,0)
        );
      }
    }
    
    &.is-active {
      border-bottom: 2em solid $white;
      z-index: 9;
      a {
        &:after {
          background-image:
          linear-gradient(
            to left, 
            $white, rgba(255,255,255,0)
          );
        }
      }
    }
    
  }
  
  .tabs-content {
    height: rem(300);
    
    
    
  }
  
  .tabs-panel {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    max-height: 0;
    overflow: auto;
    height: 300px;
    transition: opacity 400ms, max-height 0ms 400ms;
    
    &.is-active {
      opacity: 1;
      max-height: 9999px;
      transition: opacity 400ms, max-height 0ms;
    }
    
  }
  
  &.browser-mockup {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
  
  &.editor-mockup {
    border-top: rem(32) solid rgba(28, 31, 37, 0.7);  
    
    .tabs-title {
      position: relative;
      display: inline-block;
      margin-right: 0;
      width: 30%;
      height: 0;
      border: none;
      
      a {
        position: relative;
        display: inline-block;
        width: 100%;
        height: rem(32);
        padding-left: rem(8);
        padding-right: rem(8);
        color: rgb(99,105,117);
        line-height: rem(32);
        font-size: rem(14);
        overflow: hidden;
        word-break: break-all;
        background-color: rgb(28, 31, 37);        
        border-left: rgba(19,21,26, 1);
        text-align: center;
        &:after {
          position: absolute;
          display: block;
          content: '';
          right: 0;
          top: 0;
          height: 100%;
          width: 20px;
          // background: pink;
          background-image:
          linear-gradient(
            to left, 
            rgb(28, 31, 37), rgba(28,31,37,0)
          );
          
        }  
        
      }
      
      &.is-active {
        border-bottom: 2em solid $white;
        z-index: 9;
        a {
          background-color: #282c34;
          &:after {
            background-image:
            linear-gradient(
              to left, 
              rgb(40,44,52), transparentize(rgb(40,44,52), 1)
            );
            
          } 
        }
      }
      
    }
    
    
    .tabs-panel {
      top: -1px;
      height: 301px;
      border: 1px solid rgb(28, 31, 37);
      
      .box {
        @extend .hljs;
        padding: 0;
        overflow: initial;
      }
      
      pre {
        min-width: 100%;
      }
      code, pre {
        overflow: hidden;
      }
      code {
        border: none;
        // padding: 0;
      }
    }
    
    
  }
  
}