.portfolio {
  
  .button--more {
    .text--more {
      
    }
    .text--less {
      display: none;
    }
  }
  
  &.more {
    .button--more {
      .text--more {
        display: none;
      }
      .text--less {
        display:block;
      }
    }
  }
  
  
  .wysiwyg-content {
    h2,h3,h4 {
      font-weight: bold;
    }
  }
  
  .centered-fix {
    @include breakpoint(medium) {
      clear: none!important;
      float: left!important;
    }
  }
  
}




.antiscroll-wrap {
  height: 300px;
  width: 320px;
  overflow: hidden!important;
}

.box, .box .antiscroll-inner {
  width: 100%;
  height: 300px;
}

.box-inner {
  // width: 800px;
}