h1, h2, h3, h4, h5, .h {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  .wf-paytoneone-n4-cached &,
  .wf-paytoneone-n4-active & {
    font-family: 'Paytone One', sans-serif;
    font-weight: normal;
  }
}


body {
  .wf-ubuntu-n4-cached &,
  .wf-ubuntu-n4-active & {
    font-family: 'Ubuntu', sans-serif;
  }
  
}