// Loader for lazy fish

.lazy {
  position: relative;
  width: 100%;
  
  
  
  img.img--real {
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 400ms;
    
    ~.img--dummy {
      background: $lightest-gray;
      opacity: 0.5;
    }
    
    &.loaded {
      position: relative;
      z-index: 1;      
      display: block;
      opacity: 1;
      
      ~.img--dummy {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
      }
      
    }
  }  
  
}