.text-switch {
  strong[data-switch] {
    // padding: 0 rem(6);
    // background: rgba(0,0,0,0.1);
    
    
    
    // overflow: hidden;
    
    
    &[data-state] {
      position: relative;
      color: transparent; 
      white-space: nowrap;
      border-bottom: 3px dashed rgba(0,0,0,0.2);  
    }
    
    &:not([data-state]),
    &[data-state="1"] {
      .word--1 {
        opacity: 1;
      }
    }
    &[data-state="2"] {
      .word--2 {
        opacity: 1;
      }
    }
    &[data-state="3"] {
      .word--3 {
        opacity: 1;
      }
    }
    &[data-state="4"] {
      .word--4 {
        opacity: 1;
      }
    }
    &[data-state="5"] {
      .word--5 {
        opacity: 1;
      }
    }
    
    
    .word {
      
      opacity: 0;
      transition: opacity 400ms ease;
      color: $black;
      
      position: absolute;
      left: 50%;
      width: 100%;
      bottom:rem(-3);
      transform: translate(-50%);
      background: transparent;
      text-align: center;
      
    }
    
  }
}